USE [FGAM]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 08/06/2026 4:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[FactoryID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NOT NULL,
	[Passwrd] [varchar](max) NOT NULL,
	[RecordStatus] [int] NOT NULL,
	[CreateID] [varchar](10) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateID] [varchar](10) NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 08/06/2026 4:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [varchar](10) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[RecordStatus] [int] NOT NULL,
	[CreateID] [varchar](10) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateID] [varchar](10) NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 08/06/2026 4:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[DepartmentID] [varchar](10) NOT NULL,
	[FactoryID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[CardNumber] [bigint] NULL,
	[RecordStatus] [int] NOT NULL,
	[CreateID] [varchar](10) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateID] [varchar](10) NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factories]    Script Date: 08/06/2026 4:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factories](
	[FactoryID] [varchar](10) NOT NULL,
	[FactoryName] [nvarchar](50) NOT NULL,
	[RecordStatus] [int] NOT NULL,
	[CreateID] [varchar](10) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateID] [varchar](10) NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Factories] PRIMARY KEY CLUSTERED 
(
	[FactoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 08/06/2026 4:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[FactoryID] [varchar](10) NOT NULL,
	[TransactionID] [bigint] NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[EmployeeID] [varchar](10) NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[CardNumber] [bigint] NULL,
	[Photo] [varchar](max) NULL,
	[CheckInTime] [datetime] NOT NULL,
	[CheckoutTime] [datetime] NULL,
	[RecordStatus] [int] NOT NULL,
	[CreateID] [varchar](10) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateID] [varchar](10) NULL,
	[UpdateDate] [datetime] NOT NULL,
	[Purpose] [nvarchar](100) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Whitelists]    Script Date: 08/06/2026 4:24:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Whitelists](
	[WhitelistID] [int] IDENTITY(1,1) NOT NULL,
	[FactoryID] [varchar](10) NOT NULL,
	[EmployeeID] [varchar](10) NOT NULL,
	[Avatar] [varchar](max) NULL,
	[RecordStatus] [int] NOT NULL,
	[CreateID] [varchar](10) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateID] [varchar](10) NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Whitelists] PRIMARY KEY CLUSTERED 
(
	[WhitelistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [FactoryID], [EmployeeID], [Passwrd], [RecordStatus], [CreateID], [CreateDate], [UpdateID], [UpdateDate]) VALUES (2, N'BU1', N'Q34652', N'pbkdf2$dVKdPBiDxk9lSQK3obHj/g==$+iCD5WWYIwvzHgaswt6v04MTK6tbRqt6rMg4H13U3sc=
', 2, N'Q34652', CAST(N'2026-06-08T14:48:45.117' AS DateTime), N'Q34652', CAST(N'2026-06-08T14:48:45.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [RecordStatus], [CreateID], [CreateDate], [UpdateID], [UpdateDate]) VALUES (N'IT', N'GMO IT', 1, N'Q34652', CAST(N'2026-06-08T14:44:53.790' AS DateTime), N'Q34652', CAST(N'2026-06-08T14:44:53.790' AS DateTime))
GO
INSERT [dbo].[Employees] ([DepartmentID], [FactoryID], [EmployeeID], [EmployeeName], [CardNumber], [RecordStatus], [CreateID], [CreateDate], [UpdateID], [UpdateDate]) VALUES (N'IT', N'BU1', N'Q34652', N'Lê Tuấn Khôi', 1996457052, 1, N'Q34652', CAST(N'2026-06-08T14:45:46.693' AS DateTime), N'Q34652', CAST(N'2026-06-08T14:45:46.693' AS DateTime))
GO
INSERT [dbo].[Factories] ([FactoryID], [FactoryName], [RecordStatus], [CreateID], [CreateDate], [UpdateID], [UpdateDate]) VALUES (N'BU1', N'BU1', 1, N'Q34652', CAST(N'2026-06-08T14:20:38.130' AS DateTime), N'Q34652', CAST(N'2026-06-08T14:20:38.130' AS DateTime))
INSERT [dbo].[Factories] ([FactoryID], [FactoryName], [RecordStatus], [CreateID], [CreateDate], [UpdateID], [UpdateDate]) VALUES (N'BU2', N'BU2', 1, N'Q34652', CAST(N'2026-06-08T14:20:53.197' AS DateTime), N'Q34652', CAST(N'2026-06-08T14:20:53.197' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Factory_Employee]    Script Date: 08/06/2026 4:24:24 PM ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Factory_Employee] UNIQUE NONCLUSTERED 
(
	[FactoryID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Departments_Name]    Script Date: 08/06/2026 4:24:24 PM ******/
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [UQ_Departments_Name] UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Employees_CardNumber]    Script Date: 08/06/2026 4:24:24 PM ******/
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [UQ_Employees_CardNumber] UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Factories_Name]    Script Date: 08/06/2026 4:24:24 PM ******/
ALTER TABLE [dbo].[Factories] ADD  CONSTRAINT [UQ_Factories_Name] UNIQUE NONCLUSTERED 
(
	[FactoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Whitelists_Factory_Employee]    Script Date: 08/06/2026 4:24:24 PM ******/
ALTER TABLE [dbo].[Whitelists] ADD  CONSTRAINT [UQ_Whitelists_Factory_Employee] UNIQUE NONCLUSTERED 
(
	[FactoryID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Factories] ADD  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Factories] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Factories] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CheckInTime]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Whitelists] ADD  DEFAULT ((1)) FOR [RecordStatus]
GO
ALTER TABLE [dbo].[Whitelists] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Whitelists] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Employees]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Factories] FOREIGN KEY([FactoryID])
REFERENCES [dbo].[Factories] ([FactoryID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Factories]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Factories] FOREIGN KEY([FactoryID])
REFERENCES [dbo].[Factories] ([FactoryID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Factories]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Employees]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Factories] FOREIGN KEY([FactoryID])
REFERENCES [dbo].[Factories] ([FactoryID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Factories]
GO
ALTER TABLE [dbo].[Whitelists]  WITH CHECK ADD  CONSTRAINT [FK_Whitelists_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Whitelists] CHECK CONSTRAINT [FK_Whitelists_Employees]
GO
ALTER TABLE [dbo].[Whitelists]  WITH CHECK ADD  CONSTRAINT [FK_Whitelists_Factories] FOREIGN KEY([FactoryID])
REFERENCES [dbo].[Factories] ([FactoryID])
GO
ALTER TABLE [dbo].[Whitelists] CHECK CONSTRAINT [FK_Whitelists_Factories]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CHK_Transactions_Checkout] CHECK  (([CheckoutTime] IS NULL OR [CheckoutTime]>=[CheckInTime]))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CHK_Transactions_Checkout]
GO
